# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual envs
env/
venv/
.venv/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environment files
.env*
!.env.example

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
Docker/prod/
docker-compose.prod.yml
